@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
 .gallery_page{
  background: linear-gradient( rgba(255, 255, 255, 0.616), rgba(255, 255, 255, 0.616)),
  url(./galleryBg.png) !important;
  background-image:  url(./galleryBg.png);
}
.gallery_img {
  margin-left: 20px;
  overflow: hidden;
  height: 20rem;
  transform-origin: 0 0;
  transition: transform 0.25s, visibility 0.25s ease-in;
}
.imgHover {
  transform-origin: 0 0;
  transition: transform 0.25s, visibility 0.25s ease-in;
}

/* The Transformation */
.imgHover:hover .gallery_img:hover {
  transform: scale(2);
}
.galleryPage {
  position: relative;
  padding-top: 50px;
  width: 100%;
}
