@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
body {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url(./galleryBg.png);
}
img {
  width: 90%;
  margin-left: 20px;
  overflow: hidden;
}
.imgHover img {
  transform-origin: 0 0;
  transition: transform 0.25s, visibility 0.25s ease-in;
}

/* The Transformation */
.imgHover:hover img {
  transform: scale(2);
}
.galleryPage {
  position: relative;
  padding-top: 50px;
  width: 100%;
  height: 2000px;
}
