@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);

.sectionGallery__main {
  height: 100vh !important;
  background: linear-gradient(0deg, rgba(18, 16, 19, 0.7), rgba(18, 16, 19, 0.7)),
    url(./sectionGallery.jpg);
}

.sectionGallery_btn{
  margin-top: 8vh;
  width: 310px;
  height: 50px;
  left: 565px;
  top: 466px;
color: #fff;
  background: rgba(255, 255, 255, 0.125);
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */
text-decoration: none;
  border-radius: 4px;
  cursor: pointer;

}

.textG {
  color: azure;
  padding: 50px;
  letter-spacing: 5px !important;
  font-weight: 600 !important;
  font-size: 45px !important;
}

.sectionGallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.25s;
}

.sectionGallery #user-button {
  z-index: 1;
  bottom: 1rem !important;
  right: 1rem !important;
  color: var(--user-button-text);
  transition: 1s 0s ease-out;
  -webkit-animation: slide 3s ease-out forwards;
  animation: slide 3s ease-out forwards;
}
@-webkit-keyframes slide {
  0%,
  50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
@keyframes slide {
  0%,
  50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
.sectionGallery #user-button .u-card {
  border-radius: 100%;
  box-shadow: 0 0 1rem -0.25rem var(--user-button-shadow),
    inset 0 0 1rem -0.75rem var(--user-button-shadow);
}
.sectionGallery #user-button .u-main {
  cursor: pointer;
  --user-button-background: var(--user-button-main, #ec87c0);
}
.sectionGallery #user-button .u-main img {
  height: 100%;
  width: 100%;
}
.sectionGallery #user-button .u-main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  opacity: 1;
  transition: 0s 4s;
}
.sectionGallery #user-button .u-icons {
  position: relative;
  z-index: 950;
  transform: translate(-50%, -50%);
  background: var(--user-button-circle);
  box-shadow: 0 0 0 0.125rem var(--user-button-cardborder);
  border-radius: 100%;
  transition: 0.25s;
  opacity: 1 !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /*&:before {
     z-index:-1;
     position:absolute;
     top:0; right:0; bottom:0; left:0;
     content:'';

     backdrop-filter: blur(10px);
  }*/
}
.sectionGallery #user-button .u-icons a {
  color: inherit;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.sectionGallery #user-button .u-icons a div {
  padding: 0.5rem;
  transition: 0s;
}
.sectionGallery #user-button .u-icons a[href="https://twitter.com/Osorpenke"]
{
  position: relative;
}
.sectionGallery #user-button .u-icons a[href="https://twitter.com/Osorpenke"]:before
{
  content: 'Middle Click';
  position: absolute;
  top: -1.5rem;
  left: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: pre;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-in;
  background: #fffc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.sectionGallery #user-button .u-icons a[href="https://twitter.com/Osorpenke"].show:before
{
  opacity: 1;
  transition: 0.25s ease-out;
}
.sectionGallery #user-button .u-icons a[href="https://twitter.com/Osorpenke"] div
{
  color: #1da1f2;
}
.sectionGallery #user-button .u-icons a[href="https://codepen.io/z-"] div
{
  color: white;
}
.sectionGallery #user-button .u-icons a.u-random div {
  position: relative;
  top: -1px;
  -webkit-animation: diespin 2s linear infinite;
  animation: diespin 2s linear infinite;
}
@-webkit-keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sectionGallery #user-button .u-icons a.u-random:not(:hover) div {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.sectionGallery #user-button .u-icons > * {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--singlecolour);
  border-radius: 100%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.25s -0.05s;
}
.sectionGallery #user-button .u-icons > *:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sectionGallery #user-button .u-icons > *:hover,
.sectionGallery #user-button .u-icons > *:focus-within {
  background: var(--hcolour);
}
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(1):nth-child(1),
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(1) ~ *:nth-child(1) {
  left: 25%;
  top: 25%;
}
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(1),
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(1) {
  left: 37.5%;
  top: 18.75%;
}
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(2),
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(2) {
  left: 18.75%;
  top: 37.5%;
}
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(1),
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(1) {
  left: 50%;
  top: 15.625%;
}
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(2),
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(2) {
  left: 25%;
  top: 25%;
}
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(3),
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(3) {
  left: 15.625%;
  top: 50%;
}
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(1),
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(1) {
  left: 62.5%;
  top: 18.75%;
}
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(2),
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(2) {
  left: 37.5%;
  top: 18.75%;
}
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(3),
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(3) {
  left: 18.75%;
  top: 37.5%;
}
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(4),
.sectionGallery #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(4) {
  left: 18.75%;
  top: 62.5%;
}
.sectionGallery #user-button:hover .u-icons,
.sectionGallery #user-button:focus-within .u-icons {
  width: 300% !important;
  height: 300% !important;
}

.sectionGallery.dark {
  color: white;
}
@media (prefers-color-scheme: dark) {
  .sectionGallery:not(.light) {
    color: white;
  }
}
.sectionGallery .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}
.sectionGallery .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}
@media screen and (max-width: 718px) {
  .sectionGallery .options {
    min-width: 520px;
  }
  .sectionGallery .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  .sectionGallery .options {
    min-width: 440px;
  }
  .sectionGallery .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  .sectionGallery .options {
    min-width: 360px;
  }
  .sectionGallery .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  .sectionGallery .options {
    min-width: 280px;
  }
  .sectionGallery .options .option:nth-child(2) {
    display: none;
  }
}
.sectionGallery .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.sectionGallery .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
  background-position: center !important;
  background-size: cover !important;
  /*&:active {
     transform:scale(0.9);
  }*/
}
.sectionGallery .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
.sectionGallery .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
.sectionGallery .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
.sectionGallery .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
.sectionGallery .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.sectionGallery .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
.sectionGallery .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
.sectionGallery .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.sectionGallery .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.sectionGallery .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
.sectionGallery .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
.sectionGallery .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.sectionGallery .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
.sectionGallery .options .option .label .info .sub {
  transition-delay: 0.1s;
}
