.coverImage {
  height: 35vh;
  width: 100%;
}

.waterMark {
  position: fixed;
  z-index: -10000;
  width: 95vw;
}
.musicTypo {
  display: flex;
  margin-top: 23px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 30px;
  letter-spacing: 0.025em;
}
.musicTypo1 {
  width: 376.83px;
  height: 30px;
  left: 0px;
  top: 0px;

  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  /* identical to box height */
  margin: auto;
  padding-left: 5.7px;

  text-align: center;
  letter-spacing: 0.02em;
}
.btn1 {
  width: 376.83px;
  height: 55.8px;
  left: 0px;
  top: 80px;

  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  /* 
  font-family: 'Neue Helvetica'; */
}
.btn1 a {
  text-decoration: none;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.025em;
  color: #070706;
}
#text1 {
  color: #f8b147;
}
#text2 {
  color: #f78a2d;
}
#text3 {
  color: #960796;
}
.btnEvent {
  display: flex;
  flex-direction: column;
  padding-left: 8.7px;
}
#fineArts {
  border: 4px solid #f8b147;
  margin-top: 50px;
  padding-left: 2px;
}
#dance {
  border: 4px solid #f78a2d;
  margin-top: 50px;
}
#literature {
  border: 4px solid #960796;
  margin-top: 50px;
}
