.coverImage {
  height: 35vh;
  width: 100%;
}

.waterMark {
  position: fixed;
  z-index: -10000;
  width: 95vw;
}
.musicTypo {
  display: flex;
  margin-top: 23px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 30px;
  letter-spacing: 0.025em;
}
