a {
  text-decoration: none;
}
.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none;
  padding: 10px;
  font-size: 1.2rem;
}
.list {
  display: flex;
  margin-left: auto;
}
.list li {
  cursor: pointer;
  font-weight: 700;
  color: black;
}
.list li:hover {
  background-color: aqua;
}
.display-none {
  display: none;
}

.display {
  display: block;
}

.ham-menu {
  display: none;
  margin-left: 10px;
}
.mob-list {
  padding: 0 2rem;
}

.mob-list li {
  color: black;
  text-shadow: 1px 1px 1px whitesmoke;
  border-radius: 12px;
}

.mob-list li:hover {
  background: aqua;
}
.ham {
  display: flex;
  flex-direction: column;
  background: red;
}
@media only screen and (max-width: 700px) {
  .ham-menu {
    display: block;
    cursor: pointer;
  }
  .list {
    display: none;
  }
}
