.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -999;
}
.card {
  display: grid;
  grid-template-columns: repeat(4, auto);
  place-items: center;
  padding-top: 4rem;
}
